p{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header{
	background-color: #A9A9A9;
}


#pic{
	width: 200px;
	height: 200px;
	margin: 0 1.5%;
	float: right;
}

body{
	line-height: 1;
}

#logo_text {
	#font-size:10vw;
	color: #333333;
	margin: 0;
	padding: 0;
	font-size:60px;
	line-height: 300%;
	
}

#menu li {
    float: left;
	width: 20%;
	margin: 0 1.5%;
}

#menu {
	list-style: none;
	padding: 0;
	margin: 1;
	overflow: hidden;
	background-color: #333333;
	clear: both;
}

#menu li a {
	display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #111111;
}

#recent_projects li{
	width: 20%;
	margin: 1.5% 1.5%;
}

#favorite_articles li{
	width: 20%;
	margin: 1.5% 1.5%;
}

#favorite_projects li{
	width: 20%;
	margin: 1.5% 1.5%;
}

.group:before, 
.group:after{
	content: "";
	display: table;
}

.group:after {
	clear: both;
}
.group {
	word-wrap: break-word;
	clear: both;
	*zoom: 1;
}
section {
	background-color: #F5F5F5;
	float: left;
	margin: 0 1.5%;
	width: 63%;
	
}
aside {
	background-color: #C0C0C0;
	float: right;
	margin: 0 1.5%;
	width: 30%;
}

.aside_title{
	background-color: #A9A9A9;
	margin: 0 1.5%;
}

.section_title{
	margin: 0 1.5%;
}


section p{
	padding: 0;
	margin: 3% 3%;
}

footer {
	margin: 3% 0;
	clear: both;
	background-color: #A9A9A9;
}


